/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* UTILITY STYLES */

.container {
  width:80vw;
  margin: 50px auto;
}

/* RESPONSIVE IMAGES */

img {
  max-width: 100%;
  height: auto;
}

/* GLOBAL STYLES */

body {
    font-family: 'PT Sans', sans-serif;
    margin:0;
}

header.primary{
  background-color: #43AFD9;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  /*longform*/
  /* padding-top:40px;
  padding-right:40px;
  padding-bottom:20px;
  padding-left:40px; */
  /* Shorhand T,R,B,L*/
  padding: 30px 40px 20px 40px;
  /* Shorhand Top/Bottom, Left/Right*/
  /* padding: 20px 40px; */
}

header.primary h1{
  font-size: 3rem;
  margin: 20px 0;
}

header.primary h1 a {
  color: #ffffff;
  text-decoration: none;
}

header.primary h2{
  font-size: 2em;
  margin: 20px auto 40px; /* top, left/right, bottom */
}

header.primary nav li {
  list-style-type: none;
}

header.primary nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}

header.primary nav a:link, header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, .5);
  padding: 8px 16px;
  border-radius: 20px;
  transition: .3s;
}

header.primary nav a:hover, header.primary nav a:active {
  background-color: rgba(0, 0, 0, .75);
}

#intro {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 1.5em;
}

#intro h2 {
  color:#3b638b;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 2.6em;
}

#content article.post {
  width:30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
  padding: 10px;
  transition: .2s;
  font-size: .8rem;
}

#content article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, .4);
}

#content article time, #content article figcaption, #content article footer{
  font-size: .8em;
  color: #c0c0c0;
  text-transform: uppercase;
}

#content .post a:link {
  color: #3b638b;
}

#content .post figure {
  margin: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width:600px) {
  
  header.primary nav ul{
  flex-direction:column;
  margin: 0 auto;
  }
  
  header.primary nav ul li {
    margin-bottom: 30px;
  }
  
  header.primary nav ul li a {
    display:block;
  }
}