body {
    /* display: flex;*/
    font-family: 'Share Tech', sans-serif;
    
    justify-content: center;
    background-color: #28388a;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    
}


#nav-header {
    background-color: white;
    font-size: 40px;
    text-align: center;
    /* max-width: 95vw; */
}

#primary {
    /* background-color: #C8C8C8; */
    padding: 5px;
    max-width: 90vw;
    margin: 10px auto 10px auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 5px;
}

nav ul li {
    border: 2px solid grey;
    border-radius: 20px;
    padding: 8px;
    background-color: white;
}
nav ul a {
    text-decoration: none;
    color: black;
}

#primary a:link a:visited{
    color: black;
}

#primary a:hover, a:active {
    color: #28388a;
}


#spacex-logo {
    width: 68%;
    max-height: 300px;
    float: left;
    margin-left: 50px;
    padding-top: 40px;
    /* height: 200px;*/
}

#dragon-logo {
    width: 24%;
    max-height: 300px;
    float: left;
    margin-right: 50px;
}
#nav-header img{
    max-width: 90%;
}

.information {
    background-color: white;
    border-radius: 10px;
    border-color: white;
    max-width: 70vw;
    padding: 20px;
    margin: 10px auto;
}

.information h1, h2 {
    display: flex;
    justify-content: center;
}
.info-content {
    display: flex;
    flex-direction: row;
}


.information img {
    width: 400px;
    height: 300px;
    position: relative;
}
\


#primary-header{
    background-color: white;
}

#article-content {
    display: flex;
    flex-direction: row;
}

#primary-info, .information ul {
    margin: 40px;
}

#colophon {
    color: white;
}
 
#colophon a:link{
    color: white;
}

#colophon a:hover {
    color: #d0d0d0;
}

dt {
    font-weight: bold;
    font-size: 20px;
}
#questions dd {
    padding-bottom: 12px;
}